body{
    text-align: center;
    margin-left:32%;
    margin-right: 25%;
    height: 100vh;
    background-image: linear-gradient(
      0deg,
      #000000 0%,
      #c850c0 15%,
      #ffcc70 100%);
      overflow: hidden;
    }

div {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}

#cognoms {
  margin-left: 3em;
}

h1{
  text-align: left;
}